/* body {
  background-color: #000;
  color: #8da8d1;
  margin: 0;
} */

/* NB!NB! Go to github to find the html for this account menu if want/need */

/* .container-account {
  display: flex;
  padding: 20px;
}

.item {
  flex: 1;
  margin: 5px;
}

.wider-item {
  flex: 2;
  margin: 10px;
}

.active-account {
  font-weight: bold;
  color: orangered;
}

.account {
  background-color: #43db64;
  border-radius: 15px;
  color: #fff;
  text-align: center;
  padding: 15px;
  margin: 0;
  width: 200px;
}

.account-menu {
  display: flex;
  background-color: #43db64;
  color: #fff;
}

.nav-checkout-account {
  padding: 0 10px 0 200px;
} */
.top-section {
  display: flex;
  justify-content: space-between;
  margin-right: 1em;
}

.fa-user-astronaut {
  font-size: 3em;
  color: white;
  padding-left: 0.5em;
  padding-bottom: 0.2em;
}

.account-menu {
  width: 200px;
  padding: 2em 1.5em;
  /* margin-bottom: 10em; */

  background: green;
  border-radius: 0 7px 7px 0;
}

.account-menu li {
  list-style-type: none;
}

.account-menu a {
  color: #fff;
}

.gifted {
  border: 5px dotted orangered;
  max-width: 250px;
  padding: 0 1.3em;
  margin: 0 auto;
}
.justforfun {
  color: orange;
  font-family: monospace;
  font-size: 1.1rem;
  border: 2px solid cadetblue;
  margin: 1em;
  padding: 1em;
  text-align: center;
}
h2 {
  padding-top: 70px;
}

h1,
h2,
h3 {
  text-align: center;
}

.games {
  display: flex;
  flex-direction: column;
}

.games p,
.wrapper p {
  text-align: center;
}
@media (min-width: 660px) {
  .games {
    flex-direction: row;
  }
}

.login-signup .todo-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  /* align-items: center; */
  font-weight: bold;
  /* border-radius: 50px; */
  gap: 50px;
  margin: 0 auto;
}
.todo-container img {
  margin-bottom: 0.8em;
}

@media (min-width: 660px) {
  .todo-container {
    flex-direction: row;
    /* margin: 0 auto 0; */
    max-width: 1200px;
    /* background-size: cover; */
    justify-content: space-around;
  }
}

.go-do {
  border-radius: 7px;
  font-size: 1rem;
}

.box-1,
.box-2,
.box-3,
.box-4,
.box-5,
.box-6,
.box-7 {
  margin: 1em 0 2.1em;
}

.box-1,
.box-2,
.box-3 {
  /* min-width: 3em; */
  max-width: 200px;
}

.box-4,
.box-5,
.box-6,
.box-7 {
  max-width: 130px;
}
/* .box-1 {
    background-image: url("/images/keyboard2.jpg");
  }
  
  .box-2 {
    background-image: url("/gamecovers/tetris.jpg");
  }
  
  .box-3 {
    background-image: url("/gamecovers/notatoy.jpg");
  }
  
  .box-4 {
    background-image: url("/images/redshirtgamer2.jpg");
  } */

/* .box-1 {
    background-image: url("/icons/gamepad.png");
  }
  
  .box-2 {
    background-image: url("/icons/cart.png");
  }
  
  .box-3 {
    background-image: url("/icons/money.png");
  }
  
  .box-4 {
    background-image: url("/icons/headset.png");
  }
  .box-5 {
    background-image: url("/icons/heart.png");
  }
  
  .box-6 {
    background-image: url("/icons/coins.png");
  }
  
  .box-7 {
    background-image: url("/icons/letter.png");
  } */

/* .go-game {
    border-radius: 20px;
    background-color: green;
    color: #fff;
    font-size: 1rem;
    padding: 10px 15px;
    margin-top: 50px;
  } */

.wrapper {
  /* display: flex; */
  flex-direction: column;
  padding: 0 30px;
  max-width: 900px;
  margin: 0 auto 5em;
}

/* =======================
       Media Queries 
  ==========================*/
@media (min-width: 600px) {
}

/* =========================== */

@media (min-width: 660px) {
}
/* =========================== */

@media (min-width: 750px) {
  .wrapper {
    flex-direction: row;
    gap: 5rem;
  }
}

/* =========================== */

@media (min-width: 880px) {
}

/* =========================== */

@media (min-width: 960px) {
}
