.top-section {
  display: flex;
  flex-wrap: wrap;
}
@media (min-width: 660px) {
  .top-section {
    justify-content: space-between;
    flex-direction: row;
  }
}

.fa-user-astronaut {
  display: none;
}

@media (min-width: 660px) {
  .fa-user-astronaut {
    display: block;
    font-size: 2em;
    color: white;
    padding-left: 0.5em;
    padding-bottom: 0.2em;
  }
}

.account-menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 1.5em;
  background: #1c8554;
}
@media (min-width: 660px) {
  .account-menu {
    flex-direction: column;
    flex-wrap: nowrap;
    text-align: left;
    width: 250px;
    padding: 2em 1.5em;
    max-height: 300px;
    background: #1c8554;
    border-radius: 0 7px 7px 0;
  }
}

.account-menu li {
  list-style-type: none;
}

.account-menu a {
  color: #fff;
}
.currently-playing {
  width: 50%;
  flex: 1;
}
.currently-playing img {
  max-width: 50%;
  flex: 1;
}
.notice {
  width: 40%;
  margin-right: 0.8em;
}
.gifted {
  border: 5px dotted orangered;
  max-width: 250px;
  padding: 0 1.3em;
  margin: 0 auto;
}
.justforfun {
  color: orange;
  font-family: monospace;
  font-size: 1.1rem;
  border: 2px solid cadetblue;
  margin: 1em;
  padding: 1em;
  text-align: center;
}
h2 {
  padding-top: 70px;
}

h1,
h2,
h3 {
  text-align: center;
}

.games {
  display: flex;
  flex-direction: column;
}

.games p,
.wrapper p {
  text-align: center;
}
@media (min-width: 660px) {
  .games {
    flex-direction: row;
  }
}

.login-signup {
  display: none;
}

.todo-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  font-weight: bold;
  gap: 50px;
  margin: 0 auto;
}
.todo-container img {
  margin-bottom: 0.8em;
}

@media (min-width: 660px) {
  .todo-container {
    flex-direction: row;
    max-width: 1200px;
    justify-content: space-around;
  }
}

.go-do {
  border-radius: 7px;
  font-size: 1.2rem;
}

.box-1,
.box-2,
.box-3,
.box-4,
.box-5,
.box-6,
.box-7 {
  margin: 0 auto;
  width: 20%;
}

.box-1,
.box-2,
.box-3 {
  max-width: 200px;
}

.box-4,
.box-5,
.box-6,
.box-7 {
  max-width: 130px;
}

.wrapper {
  flex-direction: column;
  padding: 0 30px;
  max-width: 900px;
  margin: 0 auto 5em;
}

.wrapper img {
  width: 40%;
}

@media (min-width: 750px) {
  .wrapper {
    flex-direction: row;
    gap: 5rem;
  }
}
