.details {
  display: flex;
  flex-direction: column;
}
.details h2 {
  text-align: center;
}

/* =======================
     Media Queries 
==========================*/
@media (min-width: 750px) {
  .details {
    flex-direction: row;
    /* justify-content: space-around; */
    gap: 4em;
  }
  .left {
    margin-left: auto;
  }
  .right {
    margin-right: auto;
  }
}

/* =========================== */

@media (min-width: 660px) {
}
