body {
  background-color: #000;
  color: #aaccff;
  margin: 0;
  text-align: center;
}

.active_account {
  font-weight: bold;
  color: orangered;
}

.account {
  background-color: #43db64;
  border-radius: 15px;
  color: #fff;
  padding: 15px;
  margin: auto;
}

.account_menu {
  display: flex;
  background-color: #43db64;
  color: #fff;
}

.nav_checkout_account {
  padding: 0 10px 0 200px;
}

.background {
  background-image: url("/images/keyboard2_large.jpg");
  background-repeat: no-repeat;
  text-align: center;
}
