.container-contact {
  display: flex;
  flex-direction: column;
  padding: 1.3em;
}

#contact-img {
  max-width: 50%;
}

/* =======================
     Media Queries 
==========================*/

@media (min-width: 750px) {
  .container-contact {
    flex-direction: row;
  }
}
