.top {
  background-color: #aaccff;
  display: flex;
  flex-direction: column;
  padding: 0 20px 40px 20px;
}

.top-game {
  margin: 0 auto;
}

.top h1 {
  padding: 60px 20px 0px 0px;
  margin-top: 0;
}

.top h3,
p {
  padding: 0 20px 0px 0px;
}

.top p {
  font-size: 14px;
  font-style: italic;
}

.gamepics {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.middle {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

video {
  margin-top: 0;
  padding: 0 25px;
}

h2 {
  text-align: center;
}

.games-wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin: 10px;
  gap: 10px;
}

.game-item {
  position: relative;
  text-align: center;
}

/* =======================
     Media Queries 
==========================*/
@media (min-width: 600px) {
}

/* =========================== */

@media (min-width: 660px) {
}
/* =========================== */

@media (min-width: 750px) {
  .games-wrapper {
    grid-template-columns: repeat(3, 1fr);
  }
}

/* =========================== */

@media (min-width: 880px) {
}

/* =========================== */

@media (min-width: 960px) {
  .games-wrapper {
    grid-template-columns: repeat(5, 1fr);
  }
}
