.top {
  background-color: #aaccff;
  display: flex;
  padding: 0 300px 0 20px;
}

.top_game {
  padding: 20px 30px 20px 0;
  margin-left: 10px;
}

.top_buttons {
  padding: 20px 30px 20px 0;
  margin-left: 20px;
}

.top h1 {
  padding: 60px 20px 0px 0px;
  margin-top: 0;
}

.top h3,
p {
  padding: 0 20px 0px 0px;
}

.top p {
  font-size: 14px;
  font-style: italic;
}

.gamepics {
  display: flex;
  justify-content: center;
  margin: 10px 0 30px;
  gap: 10px;
}

.middle {
  display: flex;
  padding: 0 20px 0 30px;
}

.middle h3 {
  padding: 0;
}

.trailer {
  padding: 50px 0 50px 50px;
  margin-top: 50px;
}

h2 {
  padding-left: 40px;
}

.games_wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  margin: 0 auto 70px;
  gap: 20px;
}

.games_wrapper img {
  max-width: 100%;
}

.game_item {
  position: relative;
  margin: 10px;
  padding: 10px;
  text-align: center;
}
