.container {
  display: flex;
}

main {
  flex: 3;
  text-align: center;
}

aside {
  flex: 1;
}

/* Search Result */
.gamespage_wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin-top: 50px;
  margin-left: 20px;
  gap: 10px;
}

.gamespage_wrapper p {
  padding: 0;
}

.gamespage_wrapper img {
  width: 60%;
}
.seemore_wrapper {
  text-align: center;
}

.seemore {
  border-radius: 20px;
  background-color: #fff;
  color: #000;
  font-size: 1.5em;
  text-transform: lowercase;
  text-align: center;
  padding: 10px 20px;
  box-shadow: 2px 1px 1px 1px grey;
}

.seemore:hover {
  background-color: lightgrey;
  color: #fff;
  border: 2px solid lightgrey;
}

/* Sort By */
form {
  max-width: 200px;
  margin: 0 auto;
  padding: 20px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial,
    sans-serif;
}

fieldset {
  box-shadow: 1px 1px 1px 1px grey;
}

input {
  border: 1px solid #c4c4c4;
  border-radius: 5px;
  box-shadow: 1px 1px 1px 1px grey;
  pointer-events: none;
  display: block;
  margin: 10px 0;
}

label[for="newest"],
[for="price-up"],
[for="price-down"],
[for="name-a-aa"],
[for="most-popular"],
[for="category"],
[for="developer"],
[for="os"],
[for="newgames"],
[for="usedgames"] {
  background: #fff;
  color: #000;
  text-transform: none;
  box-shadow: none;
  margin: 0;
  padding: 5px;
}

input[type="submit"] {
  background: #43db64;
  color: #fff;
  text-transform: none;
  border-radius: 10px;
  font-size: 1.2em;
  pointer-events: cursor;
  display: block;
  margin: 0 auto;
}

input[type="search"] {
  margin: 10px auto;
}

input:hover {
  color: #43db64;
  background-color: #fff;
  border: 2px solid #43db64;
}

.nohover {
  pointer-events: none;
}
