h1,
p {
  text-align: center;
  margin: 10px 0 20px;
}

form {
  margin: 0 auto 50px;
  max-width: 400px;
}

.form {
  margin: 0 auto;
  max-width: 600px;
}

input {
  border: 1px solid #c4c4c4;
  border-radius: 5px;
  margin: 10px 10px 20px 0px;
  padding: 10px;
  box-shadow: 1px 1px 1px 1px grey;
  width: 300px;
}

label {
  margin: 10px 20px 30px 40px;
}

fieldset {
  margin: 10px;
  padding: 10px;
  box-shadow: 1px 1px 1px 1px grey;
}

label[for="full_name"],
[for="email"],
[for="password"],
[for="birthday"] {
  background: #fff;
  color: #000;
  text-transform: none;
  box-shadow: none;
  margin: 0;
  padding: 5px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
}

input[type="submit"] {
  background: #43db64;
  color: #fff;
  text-transform: none;
  border-radius: 10px;
  font-size: 1.2em;
  width: 150px;
  display: block;
  margin: 0 auto;
}

*/ input:hover {
  color: #43db64;
  background-color: #fff;
  border: 2px solid #43db64;
}

.nohover {
  pointer-events: none;
}

/* Login Page */
.forgot {
  position: absolute;
  top: 210px;
  border: 2px solid #698ebf;
  padding: 10px;
  background: #fff;
  margin: 0 auto;
  max-width: 500px;
}

label[for="forgot-password"] {
  background: #698ebf;
  color: #fff;
  text-transform: none;
  border-radius: 10px;
  font-size: 1.2em;
  margin-left: 230px;
}

label:hover {
  color: #698ebf;
  background-color: #fff;
  border: 2px solid #698ebf;
}

#forgot-password,
.forgot {
  display: none;
}

#forgot-password:checked ~ .forgot {
  display: block;
}
