@import "imports/links.css";

body {
  background-color: white;
  margin: 0;
  color: #6e6d6d;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
}

h1,
h2 {
  font-family: Georgia, "Times New Roman", Times, serif;
  text-transform: uppercase;
}

p {
  font-size: 1.12em;
}

h1 {
  font-size: 2.8em;
  padding-left: 30px;
}

h2 {
  font-size: 2.1em;
}

h3 {
  font-size: 1.8em;
}

.logo {
  max-width: 200px;
}

nav,
footer {
  background-color: #698ebf;
  text-transform: uppercase;
  color: #fff;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  margin-left: auto;
}

/* Header */
.container {
  display: flex;
  padding: 20px;
}

.item {
  flex: 1;
  margin: 5px;
}

.wider_item {
  flex: 2;
  margin: 30px;
}

/* Search */
#site-search {
  width: 300px;
  border-radius: 5px;
  height: 30px;
  margin-top: 10px;
  padding-left: 10px;
}

button {
  background-color: #fff;
  border-radius: 5px;
  height: 30px;
  margin-top: 10px;
  margin-right: 40px;
}

/* Signup */
.signup {
  border-radius: 15px;
  background-color: #aaccff;
  color: #fff;
  font-size: 1.5em;
  text-transform: lowercase;
  margin-left: 150px;
  padding: 10px;
  box-shadow: 2px 1px 1px 1px grey;
}

.signup:hover {
  background-color: #fff;
  border: 2px solid #aaccff;
}

.login_link {
  margin-left: 110px;
}

/* Main Menu */
nav a {
  color: #fff;
  text-transform: uppercase;
  font-weight: bold;
}

.container-nav {
  display: flex;
  margin-bottom: 0;
  padding: 0;
  text-transform: uppercase;
  color: #fff;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
}

.nav_main {
  flex: 4;
  background-color: #698ebf;
  padding: 10px;
  margin: 0;
  font-size: 1.2em;
  border-right: 2px solid #fff;
}

.nav_checkout {
  flex: 1;
  background-color: #f29727;
  padding: 5px;
  margin: 0;
  font-size: 1.1em;
  text-align: right;
}

.nav_checkout a:hover {
  color: #698ebf;
}

.nav_checkout img {
  padding: 2px 40px 0;
}

/* Shopping */
.cart {
  position: fixed;
  top: 190px;
  right: 10px;
  border: 2px solid #f29727;
  padding: 10px;
  background: #fff;
  margin: 10px;
}
.cart img {
  display: inline-block;
}

label {
  background: #f29727;
  color: #fff;
  padding: 10px;
  border-radius: 5px;
  text-transform: lowercase;
  box-shadow: 2px 1px 1px 1px grey;
}

label:hover {
  cursor: pointer;
  color: #f29727;
  background-color: #fff;
  border: 2px solid #f29727;
}

#add-to-cart,
.cart {
  display: none;
}

#add-to-cart:checked ~ .cart {
  display: block;
}

.add_wishlist {
  margin-left: 20px;
}

/* Footer */
footer a {
  color: #fff;
}

.footer_container {
  display: flex;
  background-color: #6e6d6d;
  margin-top: 0;
}

.footer_main {
  flex: 6;
  padding: 10px;
  margin: 0;
  font-size: 1.2em;
}

.footer_social {
  flex: 2;
  padding: 5px;
  margin: 0 20px;
  font-size: 1.1em;
  text-align: right;
}

.copyright {
  color: #698ebf;
  text-align: center;
}

/* Other */
.orange-text {
  color: #f29727;
}

.white-text {
  color: #fff;
}

.vertical_line {
  padding: 0px 20px;
  border-right: 2px solid #fff;
}

.horizontal_line {
  padding: 10px;
  border-bottom: 2px solid #dddddd;
}

.dots {
  display: flex;
  justify-content: center;
  margin: 10px 0 30px;
  gap: 10px;
}

.arrow {
  padding-top: 100px;
}
