@font-face {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial,
    sans-serif;
}
/* Global */
h1,
h2 {
  font-family: Georgia, "Times New Roman", Times, serif;
  transform: uppercase;
}

p {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial,
    sans-serif;
}

body {
  background-color: white;
  margin: 0;
  color: #6e6d6d;
}

.logo {
  max-width: 200px;
}

nav,
footer {
  background-color: #698ebf;
  text-transform: uppercase;
  color: #fff;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial,
    sans-serif;
  margin-left: auto;
}

/* Header */
.container-logo {
  display: flex;
}

.item {
  flex: 1;
}

.wider_item {
  flex: 2;
}

.slogan {
  padding-left: 50px;
  color: #6e6d6d;
  font-size: 33px;
  margin-top: 30px;
  max-width: 900px;
}

input[type="search"] {
  width: 300px;
  border-radius: 5px;
  height: 30px;
  margin-top: 10px;
  padding-left: 10px;
}

button {
  background-color: #fff;
  border-radius: 5px;
  height: 30px;
  margin-top: 10px;
  margin-right: 40px;
}

.signup {
  border-radius: 15px;
  background-color: #aaccff;
  color: #fff;
  font-size: 1.5em;
  text-transform: lowercase;
  margin-left: 150px;
  padding: 10px;
  box-shadow: 2px 1px 1px 1px grey;
}

.signup:hover {
  background-color: #fff;
  border: 2px solid #aaccff;
}

.login_link {
  margin-left: 110px;
}

.orange {
  color: #f29727;
}

.nohover {
  pointer-events: none;
}

/* Main Menu */
nav a {
  color: #fff;
  font-weight: bold;
}

.menu_container {
  display: flex;
  margin-bottom: 0;
  padding: 0;
  text-transform: uppercase;
  color: #fff;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial,
    sans-serif;
}

.nav_main {
  flex: 4;
  background-color: #698ebf;
  padding: 10px;
  margin: 0;
  font-size: 1.2em;
  border-right: 2px solid #fff;
}

.nav_checkout {
  flex: 1;
  background-color: #f29727;
  padding: 5px;
  margin: 0;
  font-size: 1.1em;
  text-align: right;
}

.nav_checkout a:hover {
  color: #698ebf;
}

.nav_checkout img {
  padding: 2px 40px 0;
}

/* Links */
.zoom {
  transition: transform 0.1s;
}

.zoom:hover {
  transform: scale(1.5);
}

a {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial,
    sans-serif;
  text-decoration: none;
  color: #698ebf;
}

/*  
a:visited {
  color: #bf4f36;
}
*/
a:hover {
  color: #f29727;
}

.active {
  font-weight: bold;
  color: #43db64;
}

.readmore {
  font-style: italic;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial,
    sans-serif;
  font-size: 0.8em;
}

.readmore_featured {
  color: #fff;
  font-style: italic;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial,
    sans-serif;
  font-size: 0.8em;
}

/* Shopping */

.cart {
  position: fixed;
  top: 190px;
  right: 10px;
  border: 2px solid #f29727;
  padding: 10px;
  background: #fff;
  margin: 10px;
}
.cart img {
  display: inline-block;
}

label {
  background: #f29727;
  color: #fff;
  padding: 10px;
  border-radius: 5px;
  text-transform: lowercase;
  box-shadow: 2px 1px 1px 1px grey;
}

label:hover {
  cursor: pointer;
  color: #f29727;
  background-color: #fff;
  border: 2px solid #f29727;
}

#add-to-cart,
.cart {
  display: none;
}

#add-to-cart:checked ~ .cart {
  display: block;
}

.add_wishlist {
  margin-left: 20px;
}

.add_wishlist:hover {
  cursor: pointer;
}

/* Footer */

footer a {
  color: #fff;
}

.footer_container {
  display: flex;
  background-color: #6e6d6d;
  margin-top: 0;
}

.footer_main {
  flex: 6;
  padding: 10px;
  margin: 0;
  font-size: 1.2em;
}

.footer_social {
  flex: 2;
  padding: 5px;
  margin: 0 20px;
  font-size: 1.1em;
  text-align: right;
}

.copyright {
  color: #698ebf;
  text-align: center;
}

.vertical_line {
  padding: 0px 20px;
  border-right: 2px solid #fff;
}

.horizontal_line {
  padding: 10px;
  border-bottom: 2px solid #dddddd;
}

.dots {
  display: flex;
  justify-content: center;
  margin: 10px 0 30px;
  gap: 10px;
}

.arrow {
  padding-top: 100px;
}

/* New Games Page */
.popular {
  display: flex;
  padding: 10px;
  margin: 0 30px 50px 30px;
  text-align: center;
}
.popular_left {
  flex: 1;
}
.popular_center {
  flex: 2;
}

.popular_right {
  flex: 1;
}

.gamespage_wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin-bottom: 70px;
}

.seemore_wrapper {
  text-align: center;
}
.seemore {
  border-radius: 20px;
  background-color: #fff;
  color: #000;
  font-size: 1.5em;
  text-transform: lowercase;
  text-align: center;
  padding: 10px 20px;
  box-shadow: 2px 1px 1px 1px grey;
}

.seemore:hover {
  background-color: lightgrey;
  color: #fff;
  border: 2px solid lightgrey;
}
