<<<<<<< HEAD
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  color: #6e6d6d;
  line-height: 1.6;
}

img {
  max-width: 100%;
  margin: 2em auto 0;
  display: block;
}

/* ================
      Typography 
  =================== */
h1,
h2 {
  font-family: Georgia, "Times New Roman", Times, serif;
  text-transform: uppercase;
}

p {
  font-size: 1.12rem;
  padding: 0 15px;
}

h1 {
  font-size: 2rem;
  text-align: center;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1.8rem;
}

/* ================
    Buttons and links 
  =================== */
a {
  text-decoration: none;
}

a:hover,
a:focus {
  color: #731813;
}

a:focus {
  border: 1px solid #731813;
}

.active {
  text-decoration: underline;
  font-weight: 700;
  letter-spacing: 0.1em;
  color: #731813;
}

/* ================
    Header 
  =================== */

.container {
  display: flex;
  justify-content: space-between;
}

.slogan {
  display: none;
}

.logo {
  margin: 0 auto;
}

.search-input {
  display: none;
}

.fa-search,
.fa-bars {
  font-size: 1.5em;
  margin: 1.5em 0.5em;
  cursor: pointer;
  color: #333;
}

/* ================
    Navigation 
  =================== */

nav {
  display: none;
  position: absolute;
  width: 100%;
  font-size: 1rem;
  text-align: center;
  margin-top: 0;
  padding: 1em;
  line-height: 2rem;
}

#hamburger-menu {
  display: none;
}

#hamburger-menu:checked ~ nav {
  display: block;
}

#close-menu {
  display: none;
}

#close-menu:checked ~ nav {
  display: block;
}

nav a {
  font-size: 0.9rem;
  font-weight: bold;
  color: #fff;
}

.nav-checkout img {
  max-width: 30px;
  margin: 0 auto 10px;
}

nav,
footer {
  background-color: #698ebf;
  text-transform: uppercase;
  color: #fff;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  margin-left: auto;
}

/* =======================
     Footer 
==========================*/

footer {
  display: flex;
  background-color: #6e6d6d;
  margin-top: 50px;
  overflow: hidden;
}

.footer-main {
  flex: 2;
  padding: 10px;
  font-size: 1.2em;
}

.footer-social {
  flex: 1;
  padding: 20px;
  font-size: 1.1em;
  text-align: right;
}

.copyright {
  color: #698ebf;
  text-align: center;
}

/* =======================
     Shopping 
==========================*/
.cart {
  position: fixed;
  top: 190px;
  right: 10px;
  border: 2px solid #f29727;
  padding: 10px;
  background: #fff;
  margin: 10px;
}

.cart img {
  display: inline-block;
}

.add-to-cart {
  background: #f29727;
  color: #fff;
  padding: 10px;
  border-radius: 5px;
  text-transform: lowercase;
  box-shadow: 2px 1px 1px 1px grey;
}

.add-to-cart:hover {
  cursor: pointer;
  color: #f29727;
  background-color: #fff;
  border: 2px solid #f29727;
}

#add-to-cart,
.cart {
  display: none;
}

#add-to-cart:checked ~ .cart {
  display: block;
}

.add-wishlist img {
  max-width: 25px;
}

/* =======================
     Miscellanous 
==========================*/

.vertical-line {
  padding: 0px 10px;
  border-right: 2px solid #fff;
}

.horizontal-line {
  padding: 10px;
  border-bottom: 2px solid #dddddd;
}

.orange-text {
  color: #f29727;
}

.white-text {
  color: #fff;
}
/* =======================
     Media Queries 
==========================*/
@media (min-width: 600px) {
  img {
    width: 60%;
  }
  .logo {
    margin-left: 20px;
  }
  .slogan {
    display: block;
    margin: 30px;
  }
  footer {
    display: flex;
    flex-direction: row;
  }
  .center {
    text-align: center;
  }
}

/* =========================== */

@media (min-width: 660px) {
  .slogan {
    margin: 40px auto;
  }
}
/* =========================== */

@media (min-width: 750px) {
  .fa-bars,
  .fa-search {
    display: none;
  }

  nav {
    position: relative;
    display: flex;
    flex-direction: row;
    padding: 0;
    border-right: 2px solid #fff;
  }

  .nav-main {
    flex: 9;
    background-color: #698ebf;
    padding: 10px;
    text-align: left;
  }
  .nav-signup {
    flex: 2;
    background-color: #aaccff;
    padding: 10px;
  }
  .nav-checkout {
    flex: 1;
    background-color: #f29727;
    padding: 5px 50px 0 0;
    margin: 0;
    text-align: right;
  }
  .nav-checkout img {
    padding: 10px 0 0;
  }
  .add-wishlist img {
    max-width: 35px;
  }
  h1,
  p {
    text-align: left;
    padding-left: 0;
  }
}

/* =========================== */

@media (min-width: 880px) {
  footer {
    justify-content: space-between;
  }
}

/* =========================== */

@media (min-width: 960px) {
  nav a {
    font-size: 1rem;
  }
}
=======
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  color: #6e6d6d;
  line-height: 1.6;
}

img {
  max-width: 100%;
  margin: 2em auto 0;
  display: block;
}

/* ================
      Typography 
  =================== */
h1,
h2 {
  font-family: Georgia, "Times New Roman", Times, serif;
  text-transform: uppercase;
}

p {
  font-size: 1.12rem;
  padding: 0 15px;
}

h1 {
  font-size: 2rem;
  text-align: center;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1.8rem;
}

/* ================
    Buttons and links 
  =================== */
a {
  text-decoration: none;
}

a:hover,
a:focus {
  color: #731813;
}

a:focus {
  border: 1px solid #731813;
}

.active {
  text-decoration: underline;
  font-weight: 700;
  letter-spacing: 0.1em;
  color: #731813;
}

/* ================
    Header 
  =================== */

.container {
  display: flex;
  justify-content: space-between;
}

.slogan {
  display: none;
}

.logo {
  margin: 0 auto;
}

.search-input {
  display: none;
}

.fa-search,
.fa-bars {
  font-size: 1.5em;
  margin: 1.5em 0.5em;
  cursor: pointer;
  color: #333;
}

/* ================
    Navigation 
  =================== */

nav {
  display: none;
  position: absolute;
  width: 100%;
  font-size: 1rem;
  text-align: center;
  margin-top: 0;
  padding: 1em;
  line-height: 2rem;
}

#hamburger-menu {
  display: none;
}

#hamburger-menu:checked ~ nav {
  display: block;
}

#close-menu {
  display: none;
}

#close-menu:checked ~ nav {
  display: block;
}

nav a {
  font-size: 0.9rem;
  font-weight: bold;
  color: #fff;
}

.nav-checkout img {
  max-width: 30px;
  margin: 0 auto 10px;
}

nav,
footer {
  background-color: #698ebf;
  text-transform: uppercase;
  color: #fff;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  margin-left: auto;
}

/* =======================
     Footer 
==========================*/

footer {
  display: flex;
  background-color: #6e6d6d;
  margin-top: 50px;
  overflow: hidden;
}

.footer-main {
  flex: 2;
  padding: 10px;
  font-size: 1.2em;
}

.footer-social {
  flex: 1;
  padding: 20px;
  font-size: 1.1em;
  text-align: right;
}

.copyright {
  color: #698ebf;
  text-align: center;
}

/* =======================
     Shopping 
==========================*/
.cart {
  position: fixed;
  top: 190px;
  right: 10px;
  border: 2px solid #f29727;
  padding: 10px;
  background: #fff;
  margin: 10px;
}

.cart img {
  display: inline-block;
}

.add-to-cart {
  background: #f29727;
  color: #fff;
  padding: 10px;
  border-radius: 5px;
  text-transform: lowercase;
  box-shadow: 2px 1px 1px 1px grey;
}

.add-to-cart:hover {
  cursor: pointer;
  color: #f29727;
  background-color: #fff;
  border: 2px solid #f29727;
}

#add-to-cart,
.cart {
  display: none;
}

#add-to-cart:checked ~ .cart {
  display: block;
}

.add-wishlist img {
  max-width: 25px;
}

/* =======================
     Miscellanous 
==========================*/

.vertical-line {
  padding: 0px 10px;
  border-right: 2px solid #fff;
}

.horizontal-line {
  padding: 10px;
  border-bottom: 2px solid #dddddd;
}

.orange-text {
  color: #f29727;
}

.white-text {
  color: #fff;
}
/* =======================
     Media Queries 
==========================*/
@media (min-width: 600px) {
  img {
    width: 60%;
  }
  .logo {
    margin-left: 20px;
  }
  .slogan {
    display: block;
    margin: 30px;
  }
  footer {
    display: flex;
    flex-direction: row;
  }
  .center {
    text-align: center;
  }
}

/* =========================== */

@media (min-width: 660px) {
  .slogan {
    margin: 40px auto;
  }
}
/* =========================== */

@media (min-width: 750px) {
  .fa-bars,
  .fa-search {
    display: none;
  }

  nav {
    position: relative;
    display: flex;
    flex-direction: row;
    padding: 0;
    border-right: 2px solid #fff;
  }

  .nav-main {
    flex: 9;
    background-color: #698ebf;
    padding: 10px;
    text-align: left;
  }
  .nav-signup {
    flex: 2;
    background-color: #aaccff;
    padding: 10px;
  }
  .nav-checkout {
    flex: 1;
    background-color: #f29727;
    padding: 5px 50px 0 0;
    margin: 0;
    text-align: right;
  }
  .nav-checkout img {
    padding: 10px 0 0;
  }
  .add-wishlist img {
    max-width: 35px;
  }
  h1,
  p {
    text-align: left;
    padding-left: 0;
  }
}

/* =========================== */

@media (min-width: 880px) {
  footer {
    justify-content: space-between;
  }
}

/* =========================== */

@media (min-width: 960px) {
  nav a {
    font-size: 1rem;
  }
}
>>>>>>> b6c3145b1adcaee8840d115f074afc2727202b1c
