body {
  background-color: #000;
  color: #aaccff;
  margin: 0;
}

.container_account {
  display: flex;
  padding: 20px;
}

.item {
  flex: 1;
  margin: 5px;
}

.wider_item {
  flex: 2;
  margin: 10px;
}

.active_account {
  font-weight: bold;
  color: orangered;
}

.account {
  background-color: #43db64;
  border-radius: 15px;
  color: #fff;
  text-align: center;
  padding: 15px;
  margin: 0;
  width: 200px;
}

.account_menu {
  display: flex;
  background-color: #43db64;
  color: #fff;
}

.nav_checkout_account {
  padding: 0 10px 0 200px;
}

.success-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  font-weight: bold;
}
h2 {
  color: #fff;
}

.go-game {
  border-radius: 20px;
  background-color: #43db64;
  color: #fff;
  font-size: 1.5em;
  padding: 15px;
  box-shadow: 2px 1px 1px 1px grey;
}

.column-1 {
  margin-bottom: 20px 0 50px;
}

.column-2 {
  background-image: url("/gamecovers/skullpartII_large.jpg");
  background-repeat: no-repeat;
  background-position: center;
  width: 650px;
  height: 400px;
  margin-bottom: 80px;
}

.column-3 {
  background-image: url("/gamecovers/overwatch_large.jpg");
  background-repeat: no-repeat;
  background-position: center;
  width: 650px;
  height: 400px;
  margin-bottom: 80px;
}
