h1,
p {
  text-align: center;
}

h3 {
  color: #fff;
}

.success-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  font-weight: bold;
}

.column-1 {
  margin-bottom: 1em;
}

.column-2,
.column-3 {
  background-position: center;
  background-size: cover;
  width: 300px;
  padding: 4em;
  margin-bottom: 80px;
}
.column-2 {
  background-image: url("/gamecovers/skullpartII_large.jpg");
}

.column-3 {
  background-image: url("/gamecovers/overwatch_large.jpg");
}

/* =======================
     Media Queries 
==========================*/
@media (min-width: 600px) {
}

/* =========================== */

@media (min-width: 660px) {
}
/* =========================== */

@media (min-width: 750px) {
}

/* =========================== */

@media (min-width: 880px) {
}

/* =========================== */

@media (min-width: 960px) {
}
