/* a {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial,
    sans-serif;
  text-decoration: none;
  color: #698ebf;
}


  a:visited {
    color: #bf4f36;
  }
 

a:hover {
  color: #f29727;
}

.active {
  font-weight: bold;
  color: #43db64;
}

.readmore {
  font-size: 0.85em;
}

.zoom {
  transition: transform 0.1s;
}

.zoom:hover {
  transform: scale(1.5);
}

.nohover {
  pointer-events: none;
}
 */
